<!DOCTYPE html>
<html lang="en">
  <head>
    ${ require('raw-loader!./meta.html') }
    <title>Document</title>
    <script>${ require('raw-loader!babel-loader!../../node_modules/lib-flexible/flexible.js')}</script>
  </head>
  <body>
    
      <div id="root"><!--HTML_PLACEHOLDER--></div>
      <!--INITIAL_DATA_PLACEHOLDER-->
      <!-- <script type="text/javascript" src="https://now8.gtimg.com/now/lib/16.8.6/react.min.js?_bid=4042"></script>
      <script type="text/javascript" src="https://now8.gtimg.com/now/lib/16.8.6/react-dom.min.js?_bid=4042"></script> -->
    </body>
</html>
