<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<title>虎牙直播-技术驱动娱乐-弹幕式互动直播平台</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="Keywords"
    content="lol直播,英雄联盟直播,dota2直播,dnf直播,cf直播,绝地求生直播，王者荣耀直播，球球大作战直播，游戏直播,赛事直播,YY直播,美女直播,户外直播,视频直播,虎牙直播" />
<meta name="Description"
    content="虎牙直播是以游戏直播为主的弹幕式互动直播平台，累计注册用户2亿，提供热门游戏直播、电竞赛事直播与游戏赛事直播，手游直播等。包含英雄联盟lol，王者荣耀，绝地求生，和平精英等游戏直播，lol、dota2、dnf等热门游戏直播以及单机游戏、手游等游戏直播。" />
<meta name="baidu-site-verification" content="GJcrsC6gXy" />
<meta name="baidu_union_verify" content="5ea44697c701baa2f69d4d6a685b3122" />
<meta name="360-site-verification" content="e7ebef547974d9b5452addd5a6ab0c9f" />
<meta name="sogou_site_verification" content="GczIV7FOQS" />
<meta name="google-site-verification" content="pF_C08APd5jWUShg77PY-V5hbhZCK6KnUAg543Ctt0g" />
<meta property="qc:admins" content="2531543776605116375" />
<meta property="wb:webmaster" content="c66c64f64a78003f" />
<meta http-equiv="origin-trial"
    content="AhjFjgRI/6LHtFGhJTHMA9fY3U8rfouRoQYMok69ARXfdwt1DoE1Zpk3c0aXRwOm6pyZ7o0Eq5FYMp/SaKPLSQsAAAB2eyJvcmlnaW4iOiJodHRwczovL3d3dy5odXlhLmNvbTo0NDMiLCJmZWF0dXJlIjoiVW5yZXN0cmljdGVkU2hhcmVkQXJyYXlCdWZmZXIiLCJleHBpcnkiOjE2NTg4Nzk5OTksImlzU3ViZG9tYWluIjp0cnVlfQ==" />